{% extends 'index.html' %}
{% load static %}
{% block extracss %}
    <!-- select css -->

    {#    <link rel="stylesheet" href='{% static 'datepicker2/css/persianDatepicker-default.css' %}'/><!-- datepicker -->#}

    {#    <link rel="stylesheet" href="{% static 'assets_admin_panel/css/bootstrap.min.css' %}"/>#}
    {#    <link rel="stylesheet" href="{% static '/assets_admin_panel/css/bootstrap-datepicker.min.css' %}"/>#}

    <style>
        #coachpg {
            background: #24e5be;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="col-md-12">
        <h4 class="mt-5">لاگین!!!</h4>
        <hr>
        <form id="login-form" method="post" class=" auth-content text-center" action='{% url 'appfront:login' %}'
              onsubmit="validate(event)">
            {% csrf_token %}
            <div class="row">


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputUserName" class="form-label">نام کاربری</label>
                        <input type="text" class="form-control" id="inputUserName"
                               name="username" required>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword" class="form-label">رمز عبور</label>
                        <input type="text" class="form-control" id="inputPassword"
                               name="password" required>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10">
                        <button id="createProfileFormSubmit" type="submit"
                                class="btn btn-primary">ارسال
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extrajs %}

    <!-- selects js -->
    <script>window.CKEDITOR_BASEPATH = '{% static 'ckeditor/ckeditor/' %}';</script>

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script type="text/javascript" src='{% static 'js/forms/form-data-login.js' %}'></script>
{% endblock %}