{% extends 'index.html' %}
{% load static %}

{% block extrahead %}
{% endblock %}
{% block extracss %}

    <style>
        div.gallery {
            margin: 5px 20px 5px 20px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}
    <div class="container" style="background-color: #f2f2f2">
        <div id='folder' class="row" style="margin-top: 30px">

        </div>
    </div>


{% endblock %}

{% block extrajs %}

    <!-- selects js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script>
        farakhan_title = {{ farakhan_title|safe }}
        farakha_id = {{ farakhan_id }}

        for (i = 0; i < farakhan_title.length; i++) {
            url = '/gallery/' + farakhan_id[i]
            $("#folder").append("<div class=\"gallery\">\n" +
                "                <a target=\"_blank\" href="+ url +">\n" +
                "                    <img src=\"{% static 'img/folder.jpg' %}\" alt=\"5\" width=\"600\" height=\"400\">\n" +
                "                </a>\n" +
                "                <div class=\"desc\">"+ farakhan_title[i] +"</div>\n" +
                "            </div>");
        }
    </script>
{% endblock %}
