{% extends 'index.html' %}
{% load static %}

    {% block title %}
        <title>گالری فراخوان</title>
    {% endblock %}

    {% block nav %}
    {% endblock %}


{% block extrahead %}
{% endblock %}
{% block extracss %}

    <style>
        div.gallery {
            margin: 5px 20px 5px 20px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}

    <div class="container">
        <div class="row" style="margin-top: 30px" id="picture">

        </div>
    </div>


{% endblock %}


{% block extrajs %}

    <!-- selects js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script>
        picture_url =
        {{ picture_url|safe }}


        for (i = 0; i < picture_url.length; i++) {
            $("#picture").append("<div class=\"gallery\">\n" +
                "                <a target=\"_blank\" href=" + picture_url[i] + ">\n" +
                "                    <img src=" + picture_url[i] + " alt=\"2\" width=\"600\" height=\"400\">\n" +
                "                </a>\n" +
                "                <div class=\"desc\">Add a description of the image here</div>\n" +
                "            </div>");
        }
    </script>
{% endblock %}