<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/css1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/css2.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/css3.css' %}" rel='stylesheet'
          type='text/css'>
    <link href="{% static 'css/css4.css' %}" rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet" type="text/css">


    {% block extrahead %}
    {% endblock %}
    {% block extracss %}{% endblock %}
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'appfront:cooperation' %}">همکاری در گروه جهادی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">ورود</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'appfront:index' %}">خانه</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
        </div>
    </div>
</header>


<div id="content">
<!-- Services -->
{% block content %}


    <div>
        <br><br><br>
        <h1>مهم ترین هدف اردوی جهادی چیست؟</h1>
        <br><br>
        <p>۱۳۹۲-۰۲-۱۶Fardayesabz۱ دیدگاه برای مهم ترین هدف اردوی جهادی چیست؟
            می‌توان در یک کلمه گفت که مهم‌ترین هدف برگزاری اردوهای جهادی، سازندگی است. اما این عبارت توضیح دارد؛
            همان‌گونه
            که خود جهاد توضیح دارد. آغاز این سازندگی، ساختن خود می‌باشد. به عبارتی اولین هدف اردوی جهادی خود سازی است؛
            همان‌طور که برترین جهاد‌ها جهاد اکبر در معرکه نفس است. این گذر از خود و اجابت حق بزرگ‌ترین و مقدس‌ترین
            غنیمتی
            است که از این سفر برای آدمی می‌ماند. در طی این سفر، تذکر و همیاری به یکدیگر در پیمودن پلکان رشد و کمک به
            سایرین
            برای ساختن فضای فرهنگی و مذهبی محیط نیز حاصل می‌آید. در کنار این مزایا، رسالتی بر دوش جهادگران است و آن
            توسعه
            فرهنگ محرومیت زدایی در بین جوانان و ایجاد روحیه سازندگی و امید در مردم منطقه است. یکی دیگر از اهداف جهادی
            نیز
            سازندگی عمرانی، فرهنگی، علمی و بهداشتی در منطقه است. در اردوی جهادی، دانشجویان با وضعیت زندگی یک منطقه محروم
            کشور در ابعاد مختلف فرهنگی، اعتقادی، معیشتی و بهداشتی و … آشنا شده و از طریق تلاش مخلصانه برای سازندگی در آن
            منطقه در آن ابعاد، می کوشند که خود را ساخته و رضوان الهی را کسب کنند.
        </p>

        <p>
            در بین طرح های گرافیکی‌ای که در زمینه ی اردوهای جهادی می توان دید، یکی از طرح های خلاقانه و ابتکاری، طرحی
            است با
            موضوع و مفهوم “می سازیم تا ساخته می شویم“. این طرح به خوبی کار چند برگه توضیح را در مورد این حرکت‌های جهادی
            و
            اهداف آن خلاصه می‌کند.</p>
        <p> حضرت علی(ع) می فرمایند: جهاد دری از درهای بهشت است که خداوند آن را برای دوستان خاص خود گشوده است.
        </p>
        <p> اردوی جهادی یک عادت شیرین که هر چند و قت یکبار اتفاق می افتد نیست.
        </p>
        <p> اردوی جهادی یک سرگرمی تازه که به سرگرمی هایتان اضافه شده باشد، نیست.
        </p>
        <p> اردوی جهادی لهو و لعب تازه ای در امتداد پاره ای از بیهودگی های زندگی نیست.
        </p>
        <p> ((اردوی جهادی آغاز است ، سرچشمه جاری شدن است))
        </p>
        <p> یک ذکر است که مجاهد بودن را در دل یادآوری میکند.
        </p>
        <p> تعریف اردوهای جهادی:
        </p>
        <p> هر چند که خود لفظ اردوی جهادی چالش برانگیز است و گروههای مختلف، آن را با تعابیر گوناگونی ذکر می کنند؛ مانند
            سفر
            جهادی، مسافرت جهادی، حرکت جهادی و … ولی اکثر این تعابیر یک دعوای لفظی است و اطلاق هر یک از این تعابیر نمی
            تواند
            موجب تغییر ماهیتی آن شود. آنچه در نفس این مسئله موضوعیت دارد و حتی در اسم آن هم نمود دارد (جهادی) وجه اشتراک
            همه
            تعابیر است. بدون در نظر گرفتن این اصل، ماهیت مسئله دستخوش تغییری شگفت می شود. بدین معنا که غفلت از این اصل
            موجب
            استحاله ماهیتی می شود و ضربه ای بنیادین به این موضوع وارد میکند. با توجه به این مطلب در اینجا ما تعبیر اردوی
            جهادی را به کار می بریم . همانطور که توضیح دادیم ، اردوی جهادی در قالب های مختلفی از جوانان تشکیل می شود از
            جمله
            اردوی جهادی دانشجویی، اردوی جهادی اقشار، اردوی جهادی پزشکان، اردوی جهادی طلاب و …

        </p>
        <p> حال اردوی جهادی چیست؟
        </p>
        <p> هرچند که اردوی جهادی در عرصه های مختلف (علمی، بهداشت و درمان، عمرانی، فرهنگی، پژوهشی، دامپروری و کشاورزی،
            خدمت
            رسانی و مطالبه گری و …) تعاریف متفاوتی دارد ولی در اطلاق اردوی جهادی می توان یک تعریف را حمل کرد. در تعریف
            اردوی
            جهادی بهتر است که اول این سوال را بپرسیم که اردوی جهادی چه نیست؟
        </p>
        <p> اردوی جهادی یک عادت شیرین که هر چند و قت یکبار اتفاق می افتد نیست.
        </p>
        <p> اردوی جهادی یک سرگرمی تازه که به سرگرمی هایتان اضافه شده باشد، نیست.
        </p>
        <p> اردوی جهادی لهو و لعب تازه ای در امتداد پاره ای از بیهودگی های زندگی نیست.
        </p>
        <p>
            هر چند که اگر نیت درستی نداشته باشیم و همت نکنیم باید اعتراف کرد که اردوی جهادی پتانسیل کافی برای تبدیل شدن
            به
            آن چیزهایی که نیت را دارد.
        </p>
        <p> و اما حال باید بپرسیم که اردوی جهادی چیست؟
        </p>
        <p> (اردوی جهادی آغاز است، سرچشمه جاری شدن است)
        </p>
        <p> یک ذکر است که مجاهد بودن را در دل یادآوری می کند. و به عبارت دیگری اردوی جهادی را باید اینگونه تعریف کرد: یک
            حرکت دسته جمعی که در آن افراد با توجه به موقعیت کاری یا علمی که درجامعه دارند یک سری برنامه های اصلاحی را،
            طی یک
            برنامه غالباً کوتاه مدت و البته بدون انگیزه مالی به اجراء در می آورند.
        </p>
        <p> تعریف بستر اردوهای جهادی اینگونه است:
        </p>
        <p> اردوهایی است که در آن تعدادی از دانشجویان، دانش آموزان یا طلاب حوزه علمیه در مناطق محروم کشور بصورت
            داوطلبانه به
            انجام فعالیت های فرهنگی - آموزش و خدمات - عمرانی می پردازند.
        </p>
        <p> دانشنامه جهادی
        </p>


    </div>
{% endblock content %}

</div>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2019</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/02-full.jpg" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Explore</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/03-full.jpg" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Finish</li>
                                <li>Category: Identity</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/04-full.jpg" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Lines</li>
                                <li>Category: Branding</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/05-full.jpg" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Southwest</li>
                                <li>Category: Website Design</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/portfolio/06-full.jpg" alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Window</li>
                                <li>Category: Photography</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!-- Contact form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}"></script>
<script src="{% static 'js/a076d05399.js' %}"></script>

{% block extrajs %}{% endblock extrajs %}

</body>

</html>
