{% extends 'index.html' %}
{% load static %}
{% block extracss %}

{% endblock %}

{% block slider %}
{% endblock slider %}

{% block content %}

    <div class="container" style="background-color: white">
        <div class=" container" id="myprofile" style="background-color: #eff1f3;border: 2px;margin-top: 30px">
            <h3>پروفایل من</h3>
            <hr>
            <div class="row mr-5">
                <div class="col-md-12" style="">
                    <div class="form-group">
                        <a>
                            <img src="{% static 'img/profile.jpg' %}" class="rounded" style="width: 95px;height:95px">
                        </a>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            نام :
                        </p>
                    </div>
                </div>
                <div class="col-md-4" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ first_name }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            تاریخ تولد :
                        </p>
                    </div>
                </div>
                <div class="col-md-3" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ date_birth }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            نام خانوادگی :
                        </p>
                    </div>
                </div>
                <div class="col-md-4" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ last_name }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            نام کاربری :
                        </p>
                    </div>
                </div>
                <div class="col-md-3" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ username }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            نام پدر :
                        </p>
                    </div>
                </div>
                <div class="col-md-4" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ father_name }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            کد ملی :
                        </p>
                    </div>
                </div>
                <div class="col-md-3" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ national_code }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            نوع همکاری :
                        </p>
                    </div>
                </div>
                <div class="col-md-4" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ hamkari_type }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            شغل :
                        </p>
                    </div>
                </div>
                <div class="col-md-3" style="background-color: white">
                    <div class="form-group">
                        <p>
                            پزشک
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <p>
                            ایمیل :
                        </p>
                    </div>
                </div>
                <div class="col-md-4" style="background-color: white">
                    <div class="form-group">
                        <p>
                            {{ email }}
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="background-color: white">
                    <div class="form-group">
                        <button class="btn btn-warning">
                            ویرایش
                        </button>
                    </div>
                </div>
                <div class="col-md-3" style="background-color: white">
                    <div class="form-group">

                    </div>
                </div>

            </div>
        </div>
        <div class=" container" id="myfaaliat" style="background-color:#eff1f3;border: 2px;margin-top: 30px">
            <h3>فعالیت های من</h3>
            <br>
            <hr>
            <div class="row"
                 style="background-color: #white;height: 50px;margin-right: 50px;border-bottom: 5px;border-color: silver">
                <div class="col-md-2 mt-3">
                    <h6>-1</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p> خدمات پزشکی در اردوی جهادی گلستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    98/03/25
                </div>
            </div>
            <hr>
            <div class="row" style="background-color: #white;height: 50px;margin-right: 50px">
                <div class="col-md-2 mt-3">
                    <h6>-2</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p> خدمات پزشکی در اردوی جهادی لرستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    <p> 98/01/05</p>
                </div>
            </div>
            <hr>
            <div class="row" style="background-color: #white;height: 50px;margin-right: 50px">
                <div class="col-md-2 mt-3">
                    <h6>-3</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p>خدمات پزشکی در اردوی جهادی لرستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    <p>98/01/05</p>
                </div>
            </div>
            <hr>
            <div class="row" style="background-color: #white;height: 50px;margin-right: 50px">
                <div class="col-md-2 mt-3">
                    <h6>-4</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p> خدمات پزشکی در اردوی جهادی لرستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    <p>98/01/05</p>
                </div>
            </div>

        </div>
        <div class=" container" id="myplans" style="background-color:#eff1f3;border: 2px;margin-top: 30px">
            <h3>برنامه های من</h3>
            <br>
            <hr>
            <div class="row" style="background-color: #white;height: 50px;margin-right: 50px">
                <div class="col-md-2 mt-3">
                    <h6>-1</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p> خدمات پزشکی در اردوی جهادی گلستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    <p> 98/03/25</p>
                </div>
            </div>
            <hr>
            <div class="row" style="background-color: #white;height:50px;margin-right: 50px">
                <div class="col-md-2 mt-3">
                    <h6>-2</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p> خدمات پزشکی در اردوی جهادی لرستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    <p> 98/01/05</p>
                </div>
            </div>
            <hr>
            <div class="row" style="background-color: #white;height: 50px;margin-right: 50px">
                <div class="col-md-2 mt-3">
                    <h6>-3</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p> خدمات پزشکی در اردوی جهادی لرستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    <p> 98/01/05</p>
                </div>
            </div>
            <hr>
            <div class="row" style="background-color: #white;height: 50px;margin-right: 50px">
                <div class="col-md-2 mt-3">
                    <h6>-4</h6>
                </div>
                <div class="col-md-7 mt-2">
                    <p> خدمات پزشکی در اردوی جهادی لرستان</p>
                </div>
                <div class="col-md-3 mt-2">
                    <p> 98/01/05</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}

    <!-- selects js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script type="text/javascript" src='{% static 'js/forms/form-data-login.js' %}'></script>
    <script>
        farakhan_title = {{ farakhan_hamkari_title|safe }}
            farakhan_date_f = {{ farakhan_hamkari_date_f|safe }}
                farakhan_place = {{ farakhan_hamkari_place|safe }}
                    console.log(farakhan_date_f)
        for (i = 0; i < farakhan_title.length; i++) {
            $("#farakhan").append("            <div class=\"row\" style=\"background-color: #ba8b00;height: 50px;margin-right: 50px\">\n" +
                "                <div class=\"col-md-2 mt-3\">\n" +
                "                    <h6>" + -(i + 1) + "</h6>\n" +
                "                </div>\n" +
                "                <div class=\"col-md-7 mt-2\">\n" +
                "                    <p>" + farakhan_title[i] + " در اردوی جهادی " + farakhan_place[i] + "</p>\n" +
                "                </div>\n" +
                "                <div class=\"col-md-3 mt-2\">\n" +
                "                    <p>" + farakhan_date_f[i] + "</p>\n" +
                "                </div>\n" +
                "            </div>");
        }

    </script>
{% endblock %}
